# .gitignore

# Игнорировать виртуальное окружение
venv/
/venv/

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать файл с секретными данными
.env

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать базу данных SQLite (больше не используется, но можно оставить)
*.db

# Игнорировать JSON-ключ от Google Cloud
firebase-465917-ddc1e2847193.json
*.json