# .gitignore

# Игнорировать виртуальное окружение
venv/

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать файл с секретными данными
.env

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать базу данных SQLite
*.db